<div class="home-init">

  <!-- first component -->
  {% assign firstArticle = section.settings.main_article %}
  <div class="home-init__card--main">
    <a href="{{ firstArticle.url }}">
      <div class="home-init__card--img">
          <img src="{{ firstArticle.image | img_url: 'master' }}" alt="{{ firstArticle.alt }}">
      </div>
    </a>
    {%- for tag in firstArticle.tags -%}
        <a class="home-init__card--page" href="{{ blog.url }}/pages/{{ tag | handle }}">
          {{ tag }}
        </a>
        {% unless forloop.last %} {% endunless %}
    {%- endfor -%}
    <a href="{{ firstArticle.url }}">
      <h2>{{ firstArticle.title }}</h2>
    </a>
    <p class="home-init__card--excerpt">
      {%- if firstArticle.excerpt.size > 0 -%}
        {{ firstArticle.excerpt }}
      {%- else -%}
        {{ firstArticle.content | strip_html | truncate: 150 }}
      {%- endif -%}
    </p>
  </div>

  <!-- second component -->
  {% assign secondtArticle = section.settings.second_article %}
  <div class="home-init__card--second">
    <a href="{{ secondtArticle.url }}">
      <div class="home-init__card--img">
          <img src="{{ secondtArticle.image | img_url: 'master' }}" alt="{{ secondtArticle.alt }}">
      </div>
    </a>
    {%- for tag in secondtArticle.tags -%}
        <a class="home-init__card--page" href="{{ blog.url }}/pages/{{ tag | handle }}">
            {{ tag }}
        </a>
        {% unless forloop.last %} {% endunless %}
    {%- endfor -%}
    <a href="{{ secondtArticle.url }}">
      <h2>{{ secondtArticle.title }}</h2>
    </a>
    <p class="home-init__card--excerpt">
      {%- if secondtArticle.excerpt.size > 0 -%}
        {{ secondtArticle.excerpt }}
      {%- else -%}
        {{ secondtArticle.content | strip_html | truncate: 150 }}
      {%- endif -%}
    </p>
  </div>

  <!-- alternative component -->
  {% assign aterArticle = section.settings.alter_article %}
  <div class="home-init__card--alter">
    <a href="{{ aterArticle.url }}">
      <div class="home-init__card--img">
          <img src="{{ aterArticle.image | img_url: 'master' }}" alt="{{ aterArticle.alt }}">
      </div>
    </a>
    {%- for tag in aterArticle.tags -%}
        <a class="home-init__card--page" href="{{ blog.url }}/pages/{{ tag | handle }}">
            {{ tag }}
        </a>
        {% unless forloop.last %} {% endunless %}
    {%- endfor -%}
    <a href="{{ aterArticle.url }}">
      <h2>{{ aterArticle.title }}</h2>
    </a>
    <p class="home-init__card--excerpt">
      {%- if aterArticle.excerpt.size > 0 -%}
        {{ aterArticle.excerpt }}
      {%- else -%}
        {{ aterArticle.content | strip_html | truncate: 150 }}
      {%- endif -%}
    </p>
  </div>
</div>

{% schema %}
{
  "name": "home init",
  "tag": "section",
  "class": "wrapper",
  "settings": [
    {
      "type": "article",
      "id": "main_article",
      "label": "main"
    },
    {
      "type": "article",
      "id": "second_article",
      "label": "second"
    },
    {
      "type": "article",
      "id": "alter_article",
      "label": "alternative"
    }
  ]
}
{% endschema %}