<div class="model-pages">
  {% assign blogName = section.settings.page_blog %}
  {% for article in blogName.articles %}
    <!-- CARD -->
      <div class="model-pages__card">
        <a href="{{ article.url }}">
          <div class="model-pages__card--img">
              <img src="{{ article.image | img_url: 'master' }}" alt="{{ article.alt }}">
          </div>
        </a>
        {%- for tag in article.tags -%}
            <a class="model-pages__card--page" href="{{ blog.url }}/pages/{{ tag | handle }}">
                {{ tag }}
            </a>
            {% unless forloop.last %} {% endunless %}
        {%- endfor -%}
        <a href="{{ article.url }}">
          <h2>{{ article.title }}</h2>
        </a>
        <p>
          {%- if article.excerpt.size > 0 -%}
            {{ article.excerpt }}
          {%- else -%}
            {{ article.content | strip_html | truncate: 150 }}
          {%- endif -%}
        </p>
      </div>
  {% endfor %}
</div>


{% schema %}
{
  "name": "home init",
  "tag": "section",
  "settings": [
    {
      "type": "blog",
      "id": "page_blog",
      "label": "select blog"
    }
  ]
}
{% endschema %}